<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.springxml.service.impl.UserDaoOracleImpl" id="userDao" depends-on="student"></bean>
    <bean class="com.example.springxml.service.impl.UserServiceImpl" id="userService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean class="com.example.springxml.model.Student" id="student" factory-method="getStudent" lazy-init="false"   autowire="byName"  init-method="initMeoth">
        <property name="age" value="1"></property>
        <property name="name" value="1"></property>
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="name" value="root"></property>
        <property name="password" value="123456"></property>
        <property name="url" value="jdbc:mysql://172.16.0.112:3306/ebang_auth"></property>
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
    </bean>

</beans>